@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    /* Custom Scroll */
    .custom-scroll::-webkit-scrollbar {
        @apply w-2 h-2;
    }

    .custom-scroll::-webkit-scrollbar-thumb {
        @apply bg-[#babac0] rounded-full;
    }

    .custom-scroll::-webkit-scrollbar-button {
        @apply hidden;
    }

    .hidden-scroll::-webkit-scrollbar {
        @apply hidden;
    }
}

/* Animation */
@keyframes fadeInSlideUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOutSlideDown {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(20px);
    }
}

.fade-in-slide-up {
    animation: fadeInSlideUp 0.5s ease-in-out forwards;
}

.fade-out-slide-down {
    animation: fadeOutSlideDown 0.5s ease-in-out forwards;
}


/* Kalender */
@media only screen and (max-width: 640px) {
    .calendar-wrapper .fc-toolbar {
        flex-direction: column !important;
    }

    .calendar-wrapper .fc-toolbar .fc-toolbar-chunk {
        margin-top: 16px;
    }

    .calendar-wrapper .fc-toolbar .fc-toolbar-chunk:first-child {
        margin-top: 0px !important;
    }
}