@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    /* Custom Scroll */
    .custom-scroll::-webkit-scrollbar {
        @apply w-2 h-2;
    }

    .custom-scroll::-webkit-scrollbar-thumb {
        @apply bg-[#babac0] rounded-full;
    }

    .custom-scroll::-webkit-scrollbar-button {
        @apply hidden;
    }

    .hidden-scroll::-webkit-scrollbar {
        @apply hidden;
    }
}

/* LayoutAnimations.css */
.fade-up-enter {
    opacity: 0;
    transform: translateY(200px);
}

.fade-up-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 500ms, transform 500ms;
}

.fade-up-exit {
    opacity: 0;
}

.fade-up-exit-active {
    opacity: 0;
}

/* Kalender */
@media only screen and (max-width: 640px) {
    .calendar-wrapper .fc-toolbar {
        flex-direction: column !important;
    }

    .calendar-wrapper .fc-toolbar .fc-toolbar-chunk {
        margin-top: 16px;
    }

    .calendar-wrapper .fc-toolbar .fc-toolbar-chunk:first-child {
        margin-top: 0px !important;
    }
}